<form action="{% url 'newcategory' %}" method="post" id="form-category">
    {% csrf_token %}
    <div class="form-group">
        <label for="inputTitle" class="col-sm-3 control-label">标题</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="inputTitle" name="title">
        </div>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        $("#form-category").validate({
            rules : {
                title: {
                    required : true,
                    remote:{
                        url:"{% url 'chkcategory' %}",
                        data:{
                            title: function () {
                                return $("#inputTitle").val();
                            }
                        }
                    }
                },
            },
            messages : {
                title:{
                    required : '名称必须填写',
                    remote:'该分类已存在'
                },
            },
            submitHandler : function(form){
                $(form).ajaxSubmit({
                    dataType:'json',
                    success: function (json) {
                        if(json.status==1){
                            layer.closeAll()
                            load_categories('homeCatogery')
                        }else{
                            layer.alert(json.msg, {icon:5});
                        }
                    }
                });
            }
        });
    });
</script>