{% load staticfiles %}

<div class="thumbnail">
    <img src="{% static 'image/luffy.png' %}" alt="路飞学城">
    <div class="caption">
        <h3>路飞学城</h3>
        <p>帮助有志向的年轻人通过努力学习，获得体面的工作和生活</p>
        <p><a href="https://www.luffycity.com/" class="btn btn-primary" target="_blank">传送门</a></p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">分类</div>
    <div class="panel-body">
        Panel content
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">标签</div>
    <div class="panel-body">
        Panel content
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">归档</div>
    <div class="panel-body">
        Panel content
    </div>
</div>